.testimonials {
	padding-top: 60px;
	padding-bottom: 60px;
}

.testimonials_heading {
	margin-bottom: 60px;
	display: flex;
	justify-content: space-between;
	align-items: center;
}

.testimonials_title {
	max-width: 452px;
}

.testimonials_subtitle {
	max-width: 400px;
}

.testimonials_row {
	position: relative;
	display: flex;
	justify-content: space-between;
	column-gap: 30px;

	&::after {
		position: absolute;
		content: '';
		right: -40px;
		top: -40px;
		width: 80px;
		height: 80px;
		background-image: url(./../img/icons/shape.svg);
		background-repeat: no-repeat;
	}
}
